---
- hosts: all

  tasks:
    - name: Create Asterix installation directory
      file:
        path: /home/couchbase/asterix
        state: directory

    - name: Download and unpack Asterix
      unarchive:
        src: asterix-server-0.8.9-SNAPSHOT-binary-assembly.zip
        dest: /home/couchbase/asterix
        owner: couchbase
        group: couchbase
        creates: /home/couchbase/asterix/bin/asterixncservice

- hosts: ncs

  tasks:
    - name: Start NC Service
      shell: >
        nohup /home/couchbase/asterix/bin/asterixncservice &

